* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

@font-face {
	src: url(../fonts/static/Inter-Regular.ttf);
	font-family: Inter;
}

@font-face {
	src: url(../fonts/static/Inter-SemiBold.ttf);
	font-family: Inter SemiBold;
}

@font-face {
	src: url(../fonts/static/Inter-Bold.ttf);
	font-family: Inter Bold;
}

body {
	display: flex;
	justify-content: center;
	background-color: hsl(0, 0%, 8%);
}

.app-container {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 300px;
	transform: translate(-50%, -50%);
	padding: 30px;
	background-color: hsl(0, 0%, 12%);
	border-radius: 5px;
}

.profile-container {
	color: hsl(0, 0%, 100%);
	text-align: center;
	margin-bottom: 10px;
}

.avatar {
	width: 50%;
	border-radius: 100%;
	overflow: hidden;
	margin-bottom: 20px;
}

.name-text {
	font-family: Inter Bold;
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 5px;
}

.location-text {
	font-family: Inter Bold;
	color: hsl(75, 94%, 57%);
	font-size: 10px;
	margin-bottom: 20px;
}

.description-text {
	font-family: Inter;
	font-size: 12px;
	margin-bottom: 20px;
	font-weight: 400;
}

.links-column {
	display: flex;
	flex-direction: column;
	text-align: center;
}

.social-link {
	font-family: Inter;
	font-size: 14px;
	color: white;
	width: 100%;
	text-decoration: none;
	background-color: hsl(0, 0%, 20%);
	padding: 10px;
	margin-bottom: 10px;
	border-radius: 5px;
}

.links-column a:hover {
	font-family: Inter SemiBold;
	color: hsl(0, 0%, 8%);
	transition: 0.3s;
	background-color: hsl(75, 94%, 57%);
}

/* Mobile view styles: */
@media (max-width: 475px) {
	.app-container {
		width: 80%;
	}
}
